@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
		url('./subset-SFProDisplay-Thin.woff2') format('woff2'),
		url('./subset-SFProDisplay-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Thin Italic'), local('SFProDisplay-ThinItalic'),
		url('./subset-SFProDisplay-ThinItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
		url('./subset-SFProDisplay-Ultralight.woff2') format('woff2'),
		url('./subset-SFProDisplay-Ultralight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Ultralight Italic'), local('SFProDisplay-UltralightItalic'),
		url('./subset-SFProDisplay-UltralightItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-UltralightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
		url('./subset-SFProDisplay-Light.woff2') format('woff2'),
		url('./subset-SFProDisplay-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Light Italic'), local('SFProDisplay-LightItalic'),
		url('./subset-SFProDisplay-LightItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
		url('./subset-SFProDisplay-Regular.woff2') format('woff2'),
		url('./subset-SFProDisplay-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Italic'), local('SFProDisplay-RegularItalic'),
		url('./subset-SFProDisplay-RegularItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
		url('./subset-SFProDisplay-Medium.woff2') format('woff2'),
		url('./subset-SFProDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Medium Italic'), local('SFProDisplay-MediumItalic'),
		url('./subset-SFProDisplay-MediumItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
		url('./subset-SFProDisplay-Semibold.woff2') format('woff2'),
		url('./subset-SFProDisplay-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Semibold Italic'), local('SFProDisplay-SemiboldItalic'),
		url('./subset-SFProDisplay-SemiboldItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
		url('./subset-SFProDisplay-Bold.woff2') format('woff2'),
		url('./subset-SFProDisplay-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Bold Italic'), local('SFProDisplay-BoldItalic'),
		url('./subset-SFProDisplay-BoldItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
		url('./subset-SFProDisplay-Heavy.woff2') format('woff2'),
		url('./subset-SFProDisplay-Heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Heavy Italic'), local('SFProDisplay-HeavyItalic'),
		url('./subset-SFProDisplay-HeavyItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-HeavyItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
		url('./subset-SFProDisplay-Black.woff2') format('woff2'),
		url('./subset-SFProDisplay-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
		url('./subset-SFProDisplay-BlackItalic.woff2') format('woff2'),
		url('./subset-SFProDisplay-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}