.map-illustration-wrapper {
	position: absolute;
	height: 57vw;
	width: 57vw;
	z-index: -1;
}

.user-location-wrapper {
	position: absolute;
	height: 13rem;
	width: 13rem;
	top: 85%;
	left: 47%;
	transform: translate(-50%, -100%);
}

.user-location-icon {
	position: absolute;
	height: 100%;
	width: 100%;
	fill: rgb(var(--accent-color));
	stroke: none;
}

.map-illustration-wrapper .info-box {
	position: absolute;
	top: 10px;
	left: 20%;
	width: max-content;
	max-width: 15em;
	display: flex;
	flex-direction: column;
	padding: 0.9em 1.3em;
	border-radius: 22.5px;
	color: rgb(var(--secondary-accent-color));
	font-weight: 700;
	line-height: 1.25em;
	background-color: rgb(var(--default-color));
	box-shadow: 
		0 15px 30px -10px rgba(var(--primary-color), 0.1),
		0 0 10px rgba(var(--primary-color), 0.05);
	transform: translate(-100%, 100%);
}

.info-box .distance {
	color: rgb(var(--accent-color));
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1.25em;
}

.user-location-wrapper .user-info {
	position: absolute;
	bottom: 1.5rem;
	left: 75%;
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: rgb(var(--accent-color));
	font-weight: 700;
	line-height: 1.25em; 
}

.user-location-wrapper.guide .user-info {
	left: 115%;
}

.user-location-wrapper .user-name {
	color: rgb(var(--secondary-accent-color));
	font-size: 1.5em;
	font-weight: 900;
}