@import '../fonts/SFProDisplay/stylesheet.css';

* {
	color: currentColor;
	font-family: inherit; 
	font-size: inherit;
}

:root {
	font-size: 10px;
}

body {
	--default-color: 255, 255, 255;
	--accent-color: 225, 51, 76;
	--secondary-accent-color: 127, 0, 18;
	--primary-color: 44, 44, 44;
	--secondary-color: 140, 140, 140;
	--light-grey-color: 236, 236, 236;

	min-height: 100vh;
	color: rgb(var(--secondary-color));
	font-family: 'SF Pro Display';
	font-size: 1.6rem;
	font-weight: 400;
}

.button, .button * {
	font-weight: 500;
	text-transform: capitalize;
	transition: 0.3s color, 0.3s background-color;
	white-space: nowrap;
}

.button:hover {
	background-color: rgb(var(--accent-color));
	color: rgb(var(--default-color));
}